<html>
<head>
	<title>Komputeko - prikomputila terminokolekto</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="komputeko.css" type="text/css">
	<link rel="shortcut icon" href="favicon.ico" />
</head>
<body>

<a href='index.html'><img src="komputeko-malgranda.png"  style='vertical-align: bottom;'></a>

<div id='sercxrezultoj'>
{{.Title}}
</div>

{{.Body}}

</body>
</html>


